<html data-namespace-typo3-fluid="true"
	  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:ex="http://typo3.org/ns/Cobweb/ExternalImport/ViewHelpers">

	<table class="information-table">
		<f:if condition="{configuration.columnConfiguration->f:count()} == 0">
			<!-- If no column configurations exist, issue error -->
			<f:then>
				<ex:displayValidationResult result="{0: {severity: 2, message: '{f:translate(key: \'noColumnConfigurationError\')}'}}" />
			</f:then>
			<f:else>
				<f:for each="{configuration.columnConfiguration}" as="columnConfiguration" key="column">
					<ex:validateColumnConfiguration configuration="{configuration}" column="{column}" as="results">
						<tr>
							<td>{column}</td>
							<td>
								<ex:dump array="{columnConfiguration}" />
								<f:if condition="{results->f:count()}">
									<ex:displayValidationResult result="{results.field}" />
								</f:if>
							</td>
						</tr>
					</ex:validateColumnConfiguration>
				</f:for>
			</f:else>
		</f:if>
	</table>
</html>