<html data-namespace-typo3-fluid="true"
	  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:ex="http://typo3.org/ns/Cobweb/ExternalImport/ViewHelpers">

	<ex:validateControlConfiguration configuration="{configuration}" as="results">
		<f:alias map="{ctrlConfiguration: configuration.ctrlConfiguration}">
			<f:if condition="{configuration.obsoleteGeneralConfiguration}">
				<f:be.infobox state="1" title="{f:translate(id: 'migrationRequired')}" message="{f:translate(id: 'obsoleteGeneralConfiguration')}"/>
			</f:if>
			<table class="information-table">
				<f:if condition="{ctrlConfiguration.connector}">
					<tr>
						<td><f:translate id="connector" /></td>
						<td>
							{ctrlConfiguration.connector}
							<f:if condition="{results.connector}">
								<ex:displayValidationResult result="{results.connector}" />
							</f:if>
						</td>
					</tr>
				</f:if>
				<f:if condition="{ctrlConfiguration.parameters}">
					<tr>
						<td><f:translate id="connector.details" /></td>
						<td>
							<ex:processedParameters configuration="{configuration}">
								<ex:twinDump originalArray="{ctrlConfiguration.parameters}" modifiedArray="{processedParameters}" />
							</ex:processedParameters>
							<f:if condition="{results.parameters}">
								<ex:displayValidationResult result="{results.parameters}" />
							</f:if>
						</td>
					</tr>
				</f:if>
				<tr>
					<td><f:translate id="group" /></td>
					<td>
						<f:if condition="{ctrlConfiguration.group}">
							<f:then>
								<f:translate id="{ctrlConfiguration.group}" default="{ctrlConfiguration.group}" />
							</f:then>
							<f:else>
								<f:translate id="none" />
							</f:else>
						</f:if>
					</td>
				</tr>
				<tr>
					<td><f:translate id="data_type" /></td>
					<td>
						{ctrlConfiguration.data}
						<f:if condition="{results.data}">
							<ex:displayValidationResult result="{results.data}" />
						</f:if>
					</td>
				</tr>
				<tr>
					<td><f:translate id="priority" /></td>
					<td>
						{ctrlConfiguration.priority}
						<f:if condition="{results.priority}">
							<ex:displayValidationResult result="{results.priority}" />
						</f:if>
					</td>
				</tr>
				<f:if condition="{ctrlConfiguration.dataHandler}">
					<tr>
						<td><f:translate id="data_handler" /></td>
						<td>
							{ctrlConfiguration.dataHandler}
							<f:if condition="{results.dataHandler}">
								<ex:displayValidationResult result="{results.dataHandler}" />
							</f:if>
						</td>
					</tr>
				</f:if>
				<!-- Nodetype property may be missing which creates an error for XML-type data. So we need to explicitely check for a validation error. -->
				<f:if condition="{ctrlConfiguration.nodetype} || {ctrlConfiguration.nodepath} || {results.nodetype}">
					<tr>
						<td><f:translate id="reference_node" /></td>
						<td>
							<f:if condition="{ctrlConfiguration.nodetype}">
								<f:then>
									{ctrlConfiguration.nodetype}
								</f:then>
								<f:else>-</f:else>
							</f:if>
							<f:if condition="{results.nodetype}">
								<ex:displayValidationResult result="{results.nodetype}" />
							</f:if>
						</td>
					</tr>
					<tr>
						<td><f:translate id="reference_nodepath" /></td>
						<td>
							<f:if condition="{ctrlConfiguration.nodepath}">
								<f:then>
									{ctrlConfiguration.nodepath}
								</f:then>
								<f:else>-</f:else>
							</f:if>
						</td>
					</tr>
				</f:if>
				<f:if condition="{ctrlConfiguration.namespaces}">
					<tr>
						<td><f:translate id="namespaces" /></td>
						<td>
							<ex:dump array="{ctrlConfiguration.namespaces}" />
						</td>
					</tr>
				</f:if>
				<tr>
					<td><f:translate id="external_key" /></td>
					<td>
						{ctrlConfiguration.referenceUid}
						<f:if condition="{results.referenceUid}">
							<ex:displayValidationResult result="{results.referenceUid}" />
						</f:if>
					</td>
				</tr>
				<tr>
					<td><f:translate id="storage_pid" /></td>
					<td>
						<ex:be.pageLink page="{ctrlConfiguration.pid}" />
						<f:if condition="{results.pid}">
							<ex:displayValidationResult result="{results.pid}" />
						</f:if>
					</td>
				</tr>
				<tr>
					<td><f:translate id="enforce_pid" /></td>
					<td>
						<f:if condition="{ctrlConfiguration.enforcePid}">
							<f:then>
								<f:translate id="LLL:EXT:core/Resources/Private/Language/locallang_common.xml:yes" />
							</f:then>
							<f:else>
								<f:translate id="LLL:EXT:core/Resources/Private/Language/locallang_common.xml:no" />
							</f:else>
						</f:if>
					</td>
				</tr>
				<tr>
					<td><f:translate id="disableLog" /></td>
					<td>
						<f:if condition="{ctrlConfiguration.disableLog}">
							<f:then>
								<f:translate id="LLL:EXT:core/Resources/Private/Language/locallang_common.xml:yes" />
							</f:then>
							<f:else>
								<f:translate id="LLL:EXT:core/Resources/Private/Language/locallang_common.xml:no" />
							</f:else>
						</f:if>
					</td>
				</tr>
				<tr>
					<td><f:translate id="additionalFields" /></td>
					<td>
						<f:if condition="{ctrlConfiguration.additionalFields}">
							<f:then>
								{ctrlConfiguration.additionalFields}
							</f:then>
							<f:else>
								-
							</f:else>
						</f:if>
						<f:if condition="{results.additionalFields}">
							<ex:displayValidationResult result="{results.additionalFields}" />
						</f:if>
					</td>
				</tr>
				<tr>
					<td><f:translate id="where_clause" /></td>
					<td>
						<f:if condition="{ctrlConfiguration.whereClause}">
							<f:then>
								{ctrlConfiguration.whereClause}
							</f:then>
							<f:else>
								-
							</f:else>
						</f:if>
						<f:if condition="{results.whereClause}">
							<ex:displayValidationResult result="{results.whereClause}" />
						</f:if>
					</td>
				</tr>
				<tr>
					<td><f:translate id="disabled_operations" /></td>
					<td>
						<f:if condition="{ctrlConfiguration.disabledOperations}">
							<f:then>
								{ctrlConfiguration.disabledOperations}
							</f:then>
							<f:else>
								<f:translate id="none" />
							</f:else>
						</f:if>
					</td>
				</tr>
				<tr>
					<td><f:translate id="minimum_records" /></td>
					<td>
						<f:if condition="{ctrlConfiguration.minimumRecords}">
							<f:then>
								{ctrlConfiguration.minimumRecords}
							</f:then>
							<f:else>
								-
							</f:else>
						</f:if>
					</td>
				</tr>
				<tr>
					<td><f:translate id="clearCache" /></td>
					<td>
						<f:if condition="{ctrlConfiguration.clearCache}">
							<f:then>
								{ctrlConfiguration.clearCache}
							</f:then>
							<f:else>
								-
							</f:else>
						</f:if>
					</td>
				</tr>
				<tr>
					<td><f:translate id="updateSlugs" /></td>
					<td>
						<f:if condition="{ctrlConfiguration.updateSlugs}">
							<f:then>
								<f:translate id="LLL:EXT:core/Resources/Private/Language/locallang_common.xml:yes" />
							</f:then>
							<f:else>
								<f:translate id="LLL:EXT:core/Resources/Private/Language/locallang_common.xml:no" />
							</f:else>
						</f:if>
					</td>
				</tr>
				<tr>
					<td><f:translate id="columnIndex" /></td>
					<td>
						<f:if condition="{ctrlConfiguration.useColumnIndex}">
							<f:then>
								{ctrlConfiguration.useColumnIndex}
								<f:if condition="{results.useColumnIndex}">
									<ex:displayValidationResult result="{results.useColumnIndex}" />
								</f:if>
							</f:then>
							<f:else>
								<f:translate id="undefined" />
							</f:else>
						</f:if>
					</td>
				</tr>
				<tr>
					<td><f:translate id="customSteps" /></td>
					<td>
						<f:if condition="{ctrlConfiguration.customSteps}">
							<f:then>
								<ex:dump array="{ctrlConfiguration.customSteps}" />
								<f:if condition="{results.customSteps}">
									<ex:displayValidationResult result="{results.customSteps}" />
								</f:if>
							</f:then>
							<f:else>
								<f:translate id="none" />
							</f:else>
						</f:if>
					</td>
				</tr>
			</table>
		</f:alias>
	</ex:validateControlConfiguration>
</html>