<html data-namespace-typo3-fluid="true"
	  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:ex="http://typo3.org/ns/Cobweb/ExternalImport/ViewHelpers">

	<ex:validateGeneralConfiguration configuration="{configuration}" as="results">
		<f:alias map="{generalConfiguration: configuration.generalConfiguration}">
			<f:if condition="{configuration.obsoleteGeneralConfiguration}">
				<f:be.infobox state="1" title="{f:translate(id: 'migrationRequired')}" message="{f:translate(id: 'obsoleteGeneralConfiguration')}"/>
			</f:if>
			<table class="information-table">
				<f:if condition="{generalConfiguration.connector}">
					<tr>
						<td><f:translate id="connector" /></td>
						<td>
							{generalConfiguration.connector}
							<f:if condition="{results.connector}">
								<ex:displayValidationResult result="{results.connector}" />
							</f:if>
						</td>
					</tr>
				</f:if>
				<f:if condition="{generalConfiguration.parameters}">
					<tr>
						<td><f:translate id="connector.details" /></td>
						<td>
							<ex:processedParameters configuration="{configuration}">
								<ex:twinDump originalArray="{generalConfiguration.parameters}" modifiedArray="{processedParameters}" />
							</ex:processedParameters>
							<f:if condition="{results.parameters}">
								<ex:displayValidationResult result="{results.parameters}" />
							</f:if>
						</td>
					</tr>
				</f:if>
				<tr>
					<td><f:translate id="group" /></td>
					<td>
						<f:if condition="{generalConfiguration.group}">
							<f:then>
								<f:translate id="{generalConfiguration.group}" default="{generalConfiguration.group}" />
							</f:then>
							<f:else>
								<f:translate id="none" />
							</f:else>
						</f:if>
					</td>
				</tr>
				<tr>
					<td><f:translate id="data_type" /></td>
					<td>
						{generalConfiguration.data}
						<f:if condition="{results.data}">
							<ex:displayValidationResult result="{results.data}" />
						</f:if>
					</td>
				</tr>
				<tr>
					<td><f:translate id="priority" /></td>
					<td>
						{generalConfiguration.priority}
						<f:if condition="{results.priority}">
							<ex:displayValidationResult result="{results.priority}" />
						</f:if>
					</td>
				</tr>
				<f:if condition="{generalConfiguration.dataHandler}">
					<tr>
						<td><f:translate id="data_handler" /></td>
						<td>
							{generalConfiguration.dataHandler}
							<f:if condition="{results.dataHandler}">
								<ex:displayValidationResult result="{results.dataHandler}" />
							</f:if>
						</td>
					</tr>
				</f:if>
				<!-- Nodetype property may be missing which creates an error for XML-type data. So we need to explicitely check for a validation error. -->
				<f:if condition="{generalConfiguration.nodetype} || {generalConfiguration.nodepath} || {results.nodetype}">
					<tr>
						<td><f:translate id="reference_node" /></td>
						<td>
							<f:if condition="{generalConfiguration.nodetype}">
								<f:then>
									{generalConfiguration.nodetype}
								</f:then>
								<f:else>-</f:else>
							</f:if>
							<f:if condition="{results.nodetype}">
								<ex:displayValidationResult result="{results.nodetype}" />
							</f:if>
						</td>
					</tr>
					<tr>
						<td><f:translate id="reference_nodepath" /></td>
						<td>
							<f:if condition="{generalConfiguration.nodepath}">
								<f:then>
									{generalConfiguration.nodepath}
								</f:then>
								<f:else>-</f:else>
							</f:if>
						</td>
					</tr>
				</f:if>
				<f:if condition="{generalConfiguration.arrayPath}">
					<tr>
						<td><f:translate id="arrayPath" /></td>
						<td>
							{generalConfiguration.arrayPath}
						</td>
					</tr>
					<tr>
						<td><f:translate id="arrayPathSeparator" /></td>
						<td>
							<f:if condition="{generalConfiguration.arrayPathSeparator}">
								<f:then>
									{generalConfiguration.arrayPathSeparator}
								</f:then>
								<f:else>/</f:else>
							</f:if>
						</td>
					</tr>
				</f:if>
				<f:if condition="{generalConfiguration.namespaces}">
					<tr>
						<td><f:translate id="namespaces" /></td>
						<td>
							<ex:dump array="{generalConfiguration.namespaces}" />
						</td>
					</tr>
				</f:if>
				<tr>
					<td><f:translate id="external_key" /></td>
					<td>
						{generalConfiguration.referenceUid}
						<f:if condition="{results.referenceUid}">
							<ex:displayValidationResult result="{results.referenceUid}" />
						</f:if>
					</td>
				</tr>
				<tr>
					<td><f:translate id="storage_pid" /></td>
					<td>
						<ex:be.pageLink page="{generalConfiguration.pid}" />
						<f:if condition="{results.pid}">
							<ex:displayValidationResult result="{results.pid}" />
						</f:if>
					</td>
				</tr>
				<tr>
					<td><f:translate id="enforce_pid" /></td>
					<td>
						<f:if condition="{generalConfiguration.enforcePid}">
							<f:then>
								<f:translate id="LLL:EXT:core/Resources/Private/Language/locallang_common.xml:yes" />
							</f:then>
							<f:else>
								<f:translate id="LLL:EXT:core/Resources/Private/Language/locallang_common.xml:no" />
							</f:else>
						</f:if>
					</td>
				</tr>
				<tr>
					<td><f:translate id="disableLog" /></td>
					<td>
						<f:if condition="{generalConfiguration.disableLog}">
							<f:then>
								<f:translate id="LLL:EXT:core/Resources/Private/Language/locallang_common.xml:yes" />
							</f:then>
							<f:else>
								<f:translate id="LLL:EXT:core/Resources/Private/Language/locallang_common.xml:no" />
							</f:else>
						</f:if>
					</td>
				</tr>
				<tr>
					<td><f:translate id="where_clause" /></td>
					<td>
						<f:if condition="{generalConfiguration.whereClause}">
							<f:then>
								{generalConfiguration.whereClause}
							</f:then>
							<f:else>
								-
							</f:else>
						</f:if>
						<f:if condition="{results.whereClause}">
							<ex:displayValidationResult result="{results.whereClause}" />
						</f:if>
					</td>
				</tr>
				<tr>
					<td><f:translate id="disabled_operations" /></td>
					<td>
						<f:if condition="{generalConfiguration.disabledOperations}">
							<f:then>
								{generalConfiguration.disabledOperations}
							</f:then>
							<f:else>
								<f:translate id="none" />
							</f:else>
						</f:if>
					</td>
				</tr>
				<tr>
					<td><f:translate id="minimum_records" /></td>
					<td>
						<f:if condition="{generalConfiguration.minimumRecords}">
							<f:then>
								{generalConfiguration.minimumRecords}
							</f:then>
							<f:else>
								-
							</f:else>
						</f:if>
					</td>
				</tr>
				<tr>
					<td><f:translate id="clearCache" /></td>
					<td>
						<f:if condition="{generalConfiguration.clearCache}">
							<f:then>
								{generalConfiguration.clearCache}
							</f:then>
							<f:else>
								-
							</f:else>
						</f:if>
					</td>
				</tr>
				<tr>
					<td><f:translate id="updateSlugs" /></td>
					<td>
						<f:if condition="{generalConfiguration.updateSlugs}">
							<f:then>
								<f:translate id="LLL:EXT:core/Resources/Private/Language/locallang_common.xml:yes" />
							</f:then>
							<f:else>
								<f:translate id="LLL:EXT:core/Resources/Private/Language/locallang_common.xml:no" />
							</f:else>
						</f:if>
					</td>
				</tr>
				<tr>
					<td><f:translate id="columnIndex" /></td>
					<td>
						<f:if condition="{generalConfiguration.useColumnIndex}">
							<f:then>
								{generalConfiguration.useColumnIndex}
								<f:if condition="{results.useColumnIndex}">
									<ex:displayValidationResult result="{results.useColumnIndex}" />
								</f:if>
							</f:then>
							<f:else>
								<f:translate id="undefined" />
							</f:else>
						</f:if>
					</td>
				</tr>
				<tr>
					<td><f:translate id="customSteps" /></td>
					<td>
						<f:if condition="{generalConfiguration.customSteps}">
							<f:then>
								<ex:dump array="{generalConfiguration.customSteps}" />
								<f:if condition="{results.customSteps}">
									<ex:displayValidationResult result="{results.customSteps}" />
								</f:if>
							</f:then>
							<f:else>
								<f:translate id="none" />
							</f:else>
						</f:if>
					</td>
				</tr>
			</table>
		</f:alias>
	</ex:validateGeneralConfiguration>
</html>