/* Styles for the BE module */

.information-table {
	margin-bottom: 10px;
	background-color: #dddddd;
}
.information-table td {
	padding: 4px;
	border: 1px solid #ffffff;
	vertical-align: top;
}
.sorting,
.sorting_asc,
.sorting_desc {
	cursor: pointer;
}
.sorting_asc,
.sorting_desc {
	background-color: #c9c9c9;
}

.typo3-TCEforms .tab-pane {
	border-top: 1px solid #cccccc;
}

ul.external-import-messages {
	margin-bottom: 0;
}
.external-import-messages li.alert {
	list-style-type: none;
	margin-bottom: 0;
	padding: 5px;
}

a.paginate_button {
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	padding: 8px;
	cursor: pointer;
}
a.previous {
	border-bottom-left-radius: 2px;
	border-top-left-radius: 2px;
}
a.next {
	border-right: 1px solid #cccccc;
	border-bottom-right-radius: 2px;
	border-top-right-radius: 2px;
}

.sync-button img.active {
	animation-name: merrygoround;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
@keyframes merrygoround {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}