/* Styles for the BE module */
/* $Id$ */
.informationTab {
	margin: 6px;
}
.informationTable {
	margin-bottom: 10px;
	background-color: #dddddd;
}
.informationTable td {
	padding: 2px;
	border: 1px solid white;
	vertical-align: top;
}
.x-grid3 {
	border: 1px solid #A2AAB8;
}
.x-grid3-col-priority {
	text-align: right;
	padding-right: 20px;
}
.t3-icon-empty {
	cursor: default;
}
.t3-icon-actions {
	margin-top: 2px;
}
#external-import-module button:hover,
.t3-window button:hover {
	background-color: transparent;
}
.configurationGrid td.loading-indicator {
	background-position: 5px 2px;
}
.longCellWrap {
	white-space: normal;
	overflow: visible;
}
div.x-form-invalid {
	background: transparent none;
	border: none;
}
.x-form-invalid {
	background: #f6d3cf none;
	border: 1px solid #d66c68;
}
.help-text {
	margin: 4px 0 4px 105px;
}
#external-import-grid {
	margin-right: 10px;
}
#external-import-full-sync-box {
	border: 1px solid #A2AAB8;
	padding: 4px;
	margin-top: 10px;
}
#external-import-full-sync-box h3 {
	margin-top: 0;
}
#external_import_full_sync_panel table.x-btn {
	margin: 2px;
}
#external_import_full_sync_panel table button span {
	margin-top: -2px;
}