/* Styles for the BE module */

.information-table {
	margin-bottom: 10px;
	background-color: #dddddd;
}
.information-table td {
	padding: 4px;
	border: 1px solid #ffffff;
	vertical-align: top;
}
.sorting,
.sorting_asc,
.sorting_desc {
	cursor: pointer;
}
.table > thead > tr th.sorting_asc,
.table > thead > tr th.sorting_desc {
	background-color: #c9c9c9;
}

.typo3-TCEforms .tab-pane {
	border-top: 1px solid #cccccc;
}

ul.external-import-messages {
	margin-bottom: 0;
}
.external-import-messages li.alert {
	list-style-type: none;
	margin-bottom: 0;
	padding: 5px;
}

a.paginate_button {
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	padding: 8px;
	cursor: pointer;
}
a.previous {
	border-bottom-left-radius: 2px;
	border-top-left-radius: 2px;
}
a.next {
	border-right: 1px solid #cccccc;
	border-bottom-right-radius: 2px;
	border-top-right-radius: 2px;
}

.sync-button svg.active {
	animation-name: merrygoround;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
@keyframes merrygoround {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.external-import-messages {
	margin-top: 0.25rem;
}

.external-import-steps .external-import-step {
	border: 1px solid #628138;
	padding: 8px;
	border-radius: 1rem;
	font-weight: bold;
	margin-bottom: 1rem;
}
.external-import-steps .external-import-step-default {
	background-color: #79a548;
}
.external-import-steps .external-import-step-custom {
	background: repeating-linear-gradient(
			135deg,
			#79a548,
			#79a548 10px,
			#86b342 10px,
			#86b342 20px
	);
}
.external-import-steps .external-import-step-error {
	border: 1px solid #a02f2f;
	background: repeating-linear-gradient(
			135deg,
			#c83c3c,
			#c83c3c 10px,
			#b73636 10px,
			#b73636 20px
	);
	color: #ffffff;
}
.external-import-steps-legend .external-import-step {
	margin-right: 1rem;
}

/* Colors for the status icons */
.log-icon-information {
	color: var(--badge-notice-bg);
}
.log-icon-notification {
	color: var(--badge-danger-bg);
}
.log-icon-success {
	color: var(--badge-success-bg);
}
.log-icon-warning {
	color: var(--badge-warning-bg);
}
.log-icon-danger {
	color: var(--badge-danger-bg);
}
