/* Styles for the BE module in TYPO3 v11 */

/* Colors for the status icons */
.log-icon-information {
	color: #6daae0;
}
.log-icon-notification {
	color: #333;
}
.log-icon-success {
	color: #79a548;
}
.log-icon-warning {
	color: #e8a33d;
}
.log-icon-danger {
	color: #c83c3c;
}
