<html data-namespace-typo3-fluid="true"
	  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:ex="http://typo3.org/ns/Cobweb/ExternalImport/ViewHelpers">

	<table class="information-table">
		<f:for each="{columnConfiguration}" as="configuration" key="column">
			<ex:validateColumnConfiguration table="{table}" columnConfiguration="{configuration}" ctrlConfiguration="{ctrlConfiguration}" as="results">
				<tr>
					<td>{column}</td>
					<td>
						<ex:dump array="{configuration}" />
						<f:if condition="{results->f:count()}">
							<f:for each="{results}" as="result">
								<ex:displayValidationResult result="{result}" />
							</f:for>
						</f:if>
					</td>
				</tr>
			</ex:validateColumnConfiguration>
		</f:for>
	</table>
</html>