<html data-namespace-typo3-fluid="true"
	  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:ex="http://typo3.org/ns/Cobweb/ExternalImport/ViewHelpers"
	  xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers">
	<f:flashMessages />

	<h1><f:translate id="function_sync" /></h1>

	<f:if condition="{configurations->f:count()}">
		<p><f:translate id="external_tables_intro" /></p>

		<f:if condition="{globalWriteAccess} == 'all'">
			<f:be.infobox title="{f:translate(id: 'full_autosync')}" state="-2" disableIcon="true">
				<f:if condition="{fullSynchronizationTask}">
					<f:then>
						<p><f:translate id="next_full_autosync" arguments="{0: fullSynchronizationTask.frequencyText, 1: fullSynchronizationTask.nextexecution}" /></p>
						<f:render partial="Module/Actions/EditButton" arguments="{uid: fullSynchronizationTask.uid}" />
						<f:render partial="Module/Actions/DeleteButton" arguments="{uid: fullSynchronizationTask.uid}" />
					</f:then>
					<f:else>
						<p><f:translate id="no_full_autosync" /></p>
						<f:render partial="Module/Actions/AddButton" arguments="{table: 'all', index: ''}" />
					</f:else>
				</f:if>
			</f:be.infobox>
		</f:if>

		<f:render partial="Module/SearchField" />
		<table class="table table-striped table-hover" id="tx_externalimport_list" data-list-type="sync">
			<thead>
				<tr>
					<th>&nbsp;</th>
					<th>
						<f:translate id="table" />
					</th>
					<th>
						<f:translate id="description" />
					</th>
					<th>
						<f:translate id="priority" />
					</th>
					<th>&nbsp;</th>
					<th>
						<f:translate id="autosync" />
					</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<f:for each="{configurations}" as="configuration">
					<tr>
						<td>
							<ex:be.recordIcon table="{configuration.table}" />
						</td>
						<td>{configuration.tableName} ({configuration.table})</td>
						<td>[{configuration.index}] {configuration.description}</td>
						<td>{configuration.priority}</td>
						<td>
							<div class="btn-group">
								<f:link.action action="viewConfiguration" arguments="{table: configuration.table, index: configuration.index}" title="{f:translate(key: 'view_details')}" class="btn btn-default">
									<core:icon identifier="actions-document-info" />
								</f:link.action>
								<f:if condition="{configuration.writeAccess}">
									<f:then>
										<f:link.action action="synchronize" arguments="{table: configuration.table, index: configuration.index}" title="{f:translate(key: 'synchronise')}" class="btn btn-default">
											<core:icon identifier="actions-refresh" />
										</f:link.action>
									</f:then>
									<f:else>
										<span class="btn btn-default disabled">
											<core:icon identifier="actions-refresh" />
										</span>
									</f:else>
								</f:if>
							</div>
						</td>
						<td>
							<f:if condition="{configuration.automated}">
								<f:then>
									<f:translate id="next_autosync" arguments="{0: configuration.task.frequencyText, 1: configuration.task.nextexecution}" />
								</f:then>
								<f:else>
									<f:translate id="no_autosync" />
								</f:else>
							</f:if>
						</td>
						<td class="tx_externalimport_actions">
							<f:if condition="{configuration.writeAccess}">
								<f:then>
									<div class="btn-group">
										<f:if condition="{configuration.automated}">
											<f:then>
												<f:render partial="Module/Actions/EditButton" arguments="{uid: configuration.task.uid}" />
												<f:render partial="Module/Actions/DeleteButton" arguments="{uid: configuration.task.uid}" />
											</f:then>
											<f:else>
												<f:render partial="Module/Actions/AddButton" arguments="{table: configuration.table, index: configuration.index}" />
											</f:else>
										</f:if>
									</div>
								</f:then>
								<f:else>&nbsp;</f:else>
							</f:if>
						</td>
					</tr>
				</f:for>
			</tbody>
		</table>
	</f:if>
</html>