<html data-namespace-typo3-fluid="true"
	  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:ex="http://typo3.org/ns/Cobweb/ExternalImport/ViewHelpers"
	  xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers">
	<f:flashMessages />

	<h1><f:translate id="function_sync" /></h1>

	<f:if condition="{configurations->f:count()}">
		<p><f:translate id="external_tables_intro" /></p>

		<f:if condition="{hasScheduler}">
			<f:if condition="{globalWriteAccess} == 'all' && {rights.scheduler}">
				<f:be.infobox title="{f:translate(id: 'full_autosync')}" state="-2" disableIcon="true">
					<f:if condition="{fullSynchronizationTask}">
						<f:then>
							<f:if condition="{fullSynchronizationTask.disabled}">
								<f:then>
									<p><f:translate id="disabled_full_autosync" /></p>
								</f:then>
								<f:else>
									<p><f:translate id="next_full_autosync" arguments="{0: fullSynchronizationTask.frequencyText, 1: fullSynchronizationTask.nextexecution}" /></p>
									<f:render partial="DataModule/Actions/EditButton" arguments="{uid: fullSynchronizationTask.uid}" />
									<f:render partial="DataModule/Actions/DeleteButton" arguments="{uid: fullSynchronizationTask.uid}" />
								</f:else>
							</f:if>
						</f:then>
						<f:else>
							<p><f:translate id="no_full_autosync" /></p>
							<f:render partial="DataModule/Actions/AddButton" arguments="{table: 'all', index: ''}" />
						</f:else>
					</f:if>
				</f:be.infobox>
			</f:if>
		</f:if>

		<f:render partial="DataModule/SearchField" />
		<table class="table table-striped table-hover" id="tx_externalimport_list" data-list-type="sync" data-has-scheduler="{hasScheduler}">
			<thead>
				<tr>
					<th class="column-icon">&nbsp;</th>
					<th class="column-table">
						<f:translate id="table" />
					</th>
					<th class="column-description">
						<f:translate id="description" />
					</th>
					<th class="column-priority">
						<f:translate id="priority" />
					</th>
					<th class="column-group">
						<f:translate id="group" />
					</th>
					<th class="column-actions">&nbsp;</th>
					<f:if condition="{hasScheduler}">
						<th class="column-autosync">
							<f:translate id="autosync" />
						</th>
						<th class="column-autosync-actions">&nbsp;</th>
					</f:if>
				</tr>
			</thead>
			<tbody>
				<f:for each="{configurations}" as="configuration">
					<tr>
						<td>
							<ex:be.recordIcon table="{configuration.table}" />
						</td>
						<td>{configuration.tableName} ({configuration.table})</td>
						<td>[{configuration.index}] {configuration.description}</td>
						<td>{configuration.priority}</td>
						<td>
							<f:if condition="{configuration.group}">
								<f:then>
									<f:translate id="{configuration.group}" default="{configuration.group}" />
								</f:then>
								<f:else>-</f:else>
							</f:if>
						</td>
						<td>
							<div class="btn-group input-group-btn">
								<f:link.action action="viewConfiguration" arguments="{table: configuration.table, index: configuration.index}" title="{f:translate(key: 'view_details')}" class="btn btn-default">
									<core:icon identifier="actions-document-info" />
								</f:link.action>
								<f:if condition="{configuration.writeAccess} && {rights.sync}">
									<f:then>
										<f:link.action action="synchronize" arguments="{table: configuration.table, index: configuration.index}" title="{f:translate(key: 'synchronise')}" class="btn btn-default sync-button">
											<core:icon identifier="actions-refresh" />
										</f:link.action>
										<f:link.action action="preview" arguments="{table: configuration.table, index: configuration.index}" title="{f:translate(key: 'preview')}" class="btn btn-default">
											<core:icon identifier="actions-version-workspace-preview" />
										</f:link.action>
									</f:then>
									<f:else>
										<span class="btn btn-default disabled">
											<core:icon identifier="empty-empty" />
										</span>
									</f:else>
								</f:if>
							</div>
						</td>
						<f:if condition="{hasScheduler}">
							<td>
								<f:if condition="{configuration.automated}">
									<f:then>
										<f:if condition="{configuration.task.disabled}">
											<f:then>
												<f:translate id="disabled_autosync" />
											</f:then>
											<f:else>
												<f:translate id="next_autosync" arguments="{0: configuration.task.frequencyText, 1: configuration.task.nextexecution}" />
											</f:else>
										</f:if>
									</f:then>
									<f:else>
										<f:translate id="no_autosync" />
									</f:else>
								</f:if>
							</td>
							<td class="tx_externalimport_actions">
								<f:if condition="{configuration.writeAccess} && {rights.scheduler}">
									<f:then>
											<f:if condition="{configuration.automated}">
												<f:then>
													<f:if condition="{configuration.task.disabled}">
														<f:then>
															<span class="label label-default">disabled</span>
														</f:then>
														<f:else>
															<div class="btn-group input-group-btn">
																<f:render partial="DataModule/Actions/EditButton" arguments="{uid: configuration.task.uid}" />
																<f:render partial="DataModule/Actions/DeleteButton" arguments="{uid: configuration.task.uid}" />
															</div>
														</f:else>
													</f:if>
												</f:then>
												<f:else>
													<div class="btn-group">
														<f:render partial="DataModule/Actions/AddButton" arguments="{table: configuration.table, index: configuration.index}" />
													</div>
												</f:else>
											</f:if>
									</f:then>
									<f:else>&nbsp;</f:else>
								</f:if>
							</td>
						</f:if>
					</tr>
				</f:for>
			</tbody>
		</table>
	</f:if>
</html>